/* Encabezado */
.menu h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Filtro de categorías */
.category-filter {
  text-align: center;
  margin-bottom: 20px;
}

.category-filter label {
  font-size: 1.2em;
}

.category-filter select {
  font-size: 1.2em;
  padding: 5px;
  margin-left: 10px;
}

/* Tarjetas de producto */
/* Utiliza un sistema de cuadrícula para organizar las tarjetas */
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 tarjetas en una fila */
  grid-template-rows: auto;
  grid-gap: 16px;
  /* agrega un ancho suficiente */
  width: 100%;
}
  .product-card {
  padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    max-width: 300px;
}
/* Agrega un hover efect para resaltar la tarjeta seleccionada */
.product-card:hover {
transform: translateY(-5px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
 border: 2px solid #ff9f43; /* nuevo */
}
/* Utiliza una combinación de tipografías legibles y atractivas para los títulos y descripciones de los productos */
.product-card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 8px;
}
.product-card p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
}
/* Utiliza colores atractivos y coherentes en toda la página para crear una sensación de coherencia visual */
.product-card {
  background-color: #f9f9f9;
  color: #333;
}
.product-card button {
  background-color: #ff9f43;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
  transition: all 0.2s ease-in-out;
}
.product-card button:hover {
  background-color: #ff7e00;
  transform: translateY(-2px);
}
/*limitar el tamaño de las imagenes*/
.product-card img {
  max-width: 100%;
  object-fit: cover; /* nuevo */
  }
  
  
  @media (max-width: 768px) {
  .product-list {
  grid-template-columns: repeat(2, 1fr); 
  }
  .product-card {
  max-width: 100%; 
  }
  }
  / Carrito */
  .cart {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  }
  
  .cart h2 {
  margin-bottom: 20px;
  }
  
  .cart ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
  .cart li {
  margin-bottom: 10px;
  }
  
  .cart p {
  font-weight: bold;
  margin-top: 20px;
  }
  
  /* Información de contacto */
  .contact-info {
  background-color: #F5F5DC;
  padding: 20px;
  text-align: center;
  }